<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizmas - Rules</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Rules</h1>
    <div class="main">
        <button><h2>You get one try per question</h2></button>
        <button><h2>Any easter eggs found can award you an extra gift</h2></button>
        <button><h2>You may ask for hints but these are fairly easy questions</h2></button>
        <button><h2>Some hints are provided by default</h2></button>
        <button><h2>Once you finish all questions, click the "->" on the home page.</h2></button>
    </div>
    <h1><a href="/"><-</a></h1>
</body>
</html>